@import url('https://fonts.googleapis.com/css2?family=Kreon:wght@300..700&family=Podkova:wght@400..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body */
body {
    font-family: "Podkova", serif;
    font-size: 20px;
    background-color: #f0f0f0;
}

section {
    padding-top: 120px;
    padding-bottom: 120px;
}

.shadow-on {
    transition: all 0.5s;
}

.shadow-on:hover {
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.1);
}

/* Navbar Awal */

h1,
h2 {
    font-weight: bold;
}

a {
    color: #222;
    text-decoration: none;
    font-weight: 500;
}

/* a:hover {
    color: #F58D17;
} */

img {
    width: 100%;
}


.navbar .namausaha {
    margin-top: 15px;
    font-size: 25px;
    font-weight: bold;
    font-family: "Kreon", serif;
}

.navbar .namausaha span {
    color: red;
}


/* Navbar Akhir */

/* Slider Hero Section Awal */

/* Slide Kedua */
.slide-2 {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../project-1-img/WhatsApp\ Image\ Logo.jpg");
    background-size: cover;
}

.slide-2 .produkkami {
    text-align: center;
    font-weight: bold;

}

/* Slider Hero Section Akhir */

/* Section Awal Produk Kami */

/* Intro Text */
.intro-text {
    margin-bottom: 40px;
    text-align: center;
}

.intro-text p {
    max-width: 500px;
    margin: 16px auto 0 auto;
}

/* Produk Section */

.produk .nav-pills .nav-link {
    background-color: #fff;
    margin-left: 8px;
    margin-right: 8px;
    color: #222;
    box-shadow: 0 10px rgba(0, 0, 0, 0.1);
}




.product-icons {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    margin-bottom: 20px;
}

.product-icons a {
    width: 4rem;
    height: 4rem;
    color: #000;
    margin: 0.3rem;
    border: 3px solid #666;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Section Akhir Produk Kami */


/* Section Awal Footer */

footer {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../project-1-img/WhatsApp\ Image\ Logo.jpg");
    padding-top: 120px;
    padding-bottom: 30px;
    background-size: cover;
}

footer p,
footer a {
    color: rgba(255, 255, 255, 0.75);

}

.footer-top {
    margin-bottom: 30px;
}

footer .img-footer {
    width: 100px;
    height: 100px;
}

footer .social-links a {
    font-weight: normal;
    font-size: 30px;
    margin-right: 10px;
}

.footer-bottom {
    padding-top: 30px;
    border-top: 1px solid rgba(255, 255, 255, 0.4);
}

/* Section Akhir Footer */


/* Media Query Responsive */


/* Laptop */

@media (max-width: 1366px) {
    html {
        font-size: 75%;
    }

    .navbar .namausaha {
        margin-right: 57%;
    }


}




/* Tablet */

@media (max-width: 768px) {
    html {
        font-size: 63.5%;
    }

    .navbar .namausaha {
        margin-right: 55%;
    }

    .produk .container .row h1 {
        font-size: 40px;
    }

    .produk .container .row h2 {
        font-size: 35px;
    }

    footer p {
        text-align: justify;
        font-size: 20px;
    }

    footer h3 {
        font-size: 24px;
        margin-top: 10px;
        font-weight: bold;
    }

}

/* Mobile Handphone */

@media (max-width: 480px) {
    html {
        font-size: 40.1%;
    }

    .produk .nav-pills .nav-link {
        background-color: #fff;
        margin-left: 8px;
        margin-right: 8px;
        color: #222;
        box-shadow: 0 10px rgba(0, 0, 0, 0.1);
    }

    .produk .nav-pills .nav-link.active {
        background-color: #F58D17;
        color: #fff;
    }

    .produk-all {
        cursor: pointer;
    }

    .product-icons {
        display: flex;
        justify-content: center;
        gap: 0.5rem;
        margin-bottom: 20px;
    }

    .product-icons a {
        width: 8rem;
        height: 8rem;
        color: #000;
        margin: 0.3rem;
        border: 3px solid #666;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }



}