@import url('https://fonts.googleapis.com/css2?family=Kreon:wght@300..700&family=Podkova:wght@400..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body */
body {
    font-family: "Podkova", serif;
    font-size: 20px;
    background-color: #f0f0f0;
}

section {
    padding-top: 120px;
    padding-bottom: 120px;
}

.shadow-on {
    transition: all 0.5s;
}

.shadow-on:hover {
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.1);
}

/* Navbar Awal */

h1,
h2 {
    font-weight: bold;
}

a {
    color: #222;
    text-decoration: none;
    font-weight: 500;
}


img {
    width: 100%;
}

.navbar .container a .img-navbar {
    width: 100px;
    height: 100px;
}

/* Searching */
/* .navbar .navbar-extra {
    margin-left: 30px;
} */

.navbar .navbar-extra #shopping-cart-button {
    margin-left: 20px;
}

.navbar .namausaha {
    margin-top: 15px;
    font-size: 25px;
    font-weight: bold;
    font-family: "Kreon", serif;
}

.navbar .namausaha span {
    color: #800000;
}

/* Navbar Akhir */

/* Slider Hero Section Awal */

/* Slide Pertama */
.slide-1 {
    background: url("../project-1-img/WhatsApp\ Image\ Logo.jpg");
    background-size: cover;
}

/* Slide Kedua */
.slide-2 {
    background: url("../project-1-img/WhatsApp\ Image\ Logo.jpg");
    background-size: cover;
}

/* Slide Ketiga */
.slide-3 {
    background: url("../project-1-img/WhatsApp\ Image\ Logo.jpg");
    background-size: cover;
}

.slide-1 h5,
.slide-2 h5,
.slide-3 h5 {
    font-family: "Podkova", serif;
    font-size: 50px;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 0 10px 10px black;
}

.slide-1 .judul-text,
.slide-2 .judul-text,
.slide-3 .judul-text {
    text-transform: capitalize;
    font-family: "Podkova", serif;
    font-size: 40px;
    text-align: center;
    font-weight: 100;
    text-shadow: 0 7px 10px black;
}


.bg-cover {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

/* Carsousel Panah Ke Samping */

/* .carousel-control-prev,
.carousel-control-next {
    background-color: rgba(0, 0, 0, 0.6);
    width: 40px;
    height: 70px;
    margin: auto;
} */

/* Slider Hero Section Akhir */

/* Section Awal Footer */

footer {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../project-1-img/WhatsApp\ Image\ Logo.jpg");
    padding-top: 120px;
    padding-bottom: 30px;
    background-size: cover;
}

footer p,
footer a {
    color: rgba(255, 255, 255, 0.75);

}

.footer-top {
    margin-bottom: 30px;
}

footer .img-footer {
    width: 100px;
    height: 100px;
}

footer .social-links a {
    font-weight: normal;
    font-size: 30px;
    margin-right: 10px;
}

.footer-bottom {
    padding-top: 30px;
    border-top: 1px solid rgba(255, 255, 255, 0.4);
}

/* Section Akhir Footer */




/* Media Query Responsive */


/* Laptop */

@media (max-width: 1366px) {
    html {
        font-size: 75%;
    }

}




/* Tablet */

@media (max-width: 768px) {
    html {
        font-size: 63.5%;
    }

    .navbar .namausaha {
        margin-right: 55%;
    }


    .kerupuk .container .content h1 {
        font-size: 30px;
    }

    .kerupuk .container .content .text-paraf {
        font-size: 16px;
        text-align: justify;
        font-weight: 100;
    }

    .slide-1 h5,
    .slide-2 h5,
    .slide-3 h5 {
        font-family: "Podkova", serif;
        font-size: 30px;
        text-align: center;
        font-weight: bold;
        text-transform: uppercase;
        text-shadow: 0 10px 10px black;
    }

    .slide-1 .judul-text,
    .slide-2 .judul-text,
    .slide-3 .judul-text {
        text-transform: capitalize;
        font-family: "Podkova", serif;
        font-size: 20px;
        text-align: center;
        font-weight: 100;
        text-shadow: 0 7px 10px black;
    }

    footer p {
        text-align: justify;
        font-size: 20px;
    }

    footer h3 {
        font-size: 24px;
        margin-top: 10px;
        font-weight: bold;
    }

}

/* Mobile Handphone */

@media (max-width: 480px) {
    html {
        font-size: 40.1%;
    }

    footer p {
        text-align: justify;
        font-size: 18px;
    }

    footer h3 {
        font-size: 20px;
        margin-top: 10px;
        font-weight: bold;
    }


}