@import url('https://fonts.googleapis.com/css2?family=Kreon:wght@300..700&family=Podkova:wght@400..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body */
body {
    font-family: "Podkova", serif;
}

section {
    padding-top: 120px;
    padding-bottom: 120px;
}

.shadow-on {
    transition: all 0.5s;
}

.shadow-on:hover {
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.1);
}

/* Navbar Awal */

h1,
h2 {
    font-weight: bold;
}

a {
    text-decoration: none;
    font-weight: 500;
}

a:hover {
    color: #F58D17;
}

img {
    width: 100%;
}

/* Btn di Navbar Awal */

.btn {
    padding: 10px 16px;
}

.btn-brand {
    color: #fff;
    font-weight: 500;
    border-color: #F58D17;
    background-color: #F58D17;
}

.btn-brand:hover {
    border-color: #CA7310;
    background-color: #CA7310;
    color: #fff;
}

/* Bt di Navbar Akhir */

/* Navbar Akhir */

/* Slider Hero Section Awal */

/* Slide Pertama */
.slide-1 {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../project-1-img/home1.jpg");
    background-size: cover;
}

/* Section Reservation Awal */
.form-control {
    border-radius: 0;
}

.form-control:focus {
    box-shadow: none;
    border-color: #F58D17;
}

.form-group input.form-control {
    height: 47px;
}

/* Section Reservation Akhri */

/* Section Awal Footer */

footer {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../project-1-img/home2.jpg");
    padding-top: 120px;
    padding-bottom: 30px;
    background-size: cover;
}

footer p,
footer a {
    color: rgba(255, 255, 255, 0.75);

}

.footer-top {
    margin-bottom: 30px;
}

footer .img-footer {
    width: 100px;
    height: 100px;
}

footer .social-links a {
    font-weight: normal;
    font-size: 30px;
    margin-right: 10px;
}

.footer-bottom {
    padding-top: 30px;
    border-top: 1px solid rgba(255, 255, 255, 0.4);
}

/* Section Akhir Footer */



/* Responsive Web */

@media (max-width : 964px) {
    .contact-container {
        margin: 0 auto;
        width: 90%;
    }
}

@media (max-width : 700px) {
    .contact-container {
        grid-template-columns: 1fr;
        gap: 1rem;
        margin-top: 20rem !important;
    }

    .map iframe {
        height: 400px;
    }
}